body{
    background-color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    color: #fdc;
    text-shadow: 3px 3px 25px aquamarine;
    font-variant: normal;
}

p{
    font-style: oblique;
    text-indent: 10px;
}

.img-container{
    display: flex;
}

.img-container img{
    width: 120px;
    height: 200px;
    margin: 10px;
}